<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.springboot.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zl.springboot.entity.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="username" jdbcType="VARCHAR" />
    <result column="WORK_NO" property="pwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, WORK_NO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_USERS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zl.springboot.entity.User" >
    insert into SYS_USERS (ID, USERNAME, PWD
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zl.springboot.entity.User" >
    insert into SYS_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="pwd != null" >
        PWD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.springboot.entity.User" >
    update SYS_USERS
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.springboot.entity.User" >
    update SYS_USERS
    set USERNAME = #{username,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from sys_users
  </select>
  
  <select id="callProc" statementType="CALLABLE">
  	{call noParamPro}
  </select>
  
  <select id="callParamProc" statementType="CALLABLE" parameterType="java.util.Map">
  	{call paramPro(#{userid, mode=IN, jdbcType=INTEGER}, #{name, mode=OUT, jdbcType=VARCHAR})}
  </select>
  
  <select id="callParamProcList" statementType="CALLABLE" parameterType="java.util.Map">
  	{call paramListPro(
  		#{userid, mode=IN, jdbcType=INTEGER}, 
  		#{v_list, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=BaseResultMap})}
  </select>
</mapper>